/* Start section description. */
@media screen and (min-width: 450px){
	.tocdescr {
		display: flex; display: -webkit-flex;
		flex-flow: row wrap; -webkit-flex-flow: row wrap;
		justify-content: space-between; -webkit-justify-content: space-between;
		align-items: flex-start; -webkit-align-items: flex-start;
		align-content: flex-start; -webkit-align-content: flex-start;
		list-style-type: none;
		margin-bottom: 10px;
	}
	/* Dan Andreasson on Stack Overflow. */
	.tocdescr:after {
		content: "";
		flex: 1 0 33.3%; -webkit-flex: 1 0 33.3%;
		margin-left: 45px;
		align-self: stretch; -webkit-align-self: stretch;
	}
}
@media screen and (max-width: 450px) {
	.tocdescr {
		display: flex; display: -webkit-flex;
		flex-flow: column wrap; -webkit-flex-flow: column wrap;
		justify-content: space-between; -webkit-justify-content: space-between;
		align-items: flex-start; -webkit-align-items: flex-start;
		align-content: flex-start; -webkit-align-content: flex-start;
		list-style-type: none;
		margin-bottom: 10px;
	}
	.tocdescr:after {
		content: "";
		flex: none; -webkit-flex: none;
	}
}
.descr, .descrmin {
	flex: 2 0 33.3%; -webkit-flex: 2 0 33.3%;
	margin: 10px 15px;
	border-radius: .3em;
	user-select: none;
}
.descr div.figure, .descrmin div.figure {
	margin-bottom: 0px;
	display: block;
}
.descr img, .descrmin img {
	border-top-left-radius: .3em;
	border-top-right-radius: .3em;
}
.descr dl, .descrmin dl {margin-bottom: 10px}
.descr dl dt > a, .descrmin dl dt > a  {
	display: block;
	width: 100%;
	margin-bottom: 10px;
}
.descr dl dt a em, .descr dl dt a span, .descrmin dl dt a em, .descrmin dl dt a span {
	font-weight: bold;
	font-style: normal;
	font-size: 1.3em;
}
.descr dl dt, .descrmin  dl dt {padding: 18px 15px 0px!important}
.descr dl dd, .descrmin dl dd {
	padding: 0px 15px;
	font-style: normal;
	margin: 0px;
	color: #808080;
	font-size: 90%;
}
.descr {
	box-shadow: rgba(0,0,0,0.05) 0px 1px 4px 0px,
					rgba(211,216,223,0.33) 0px 15px 20px -1px;
}
.descrmin {
	box-shadow: none;
}
#getting-started .descr {
	box-shadow: none;
}
/* End section description. */

/* Start todo description */
.todo-plan li, .todo-plan tbody > tr {
    background-color: #e5f1fb;
    border-color: #5faaea;
}
.todo-done li, .todo-done tbody > tr {
	background-color: lightgray;
}
.todo-warning li, .todo-warning tbody > tr {
    background-color: rgba(255,229,100,.3);
    border-color: #e7c000;
    color: #6b5900;
}
.todo-danger li, .todo-danger tbody > tr {
    background-color: #ffe6e6;
    border-color: #c00;
    color: #4d0000;
}
.todo-tip li, .todo-tip tbody > tr {
    background-color: #f3f5f7;
    border-color: #42b983;
}
/* End todo description */

/* 
.. container:: lead

   .. clear
*/
.lead {
    clear: both;
    width: 100%;
}

/*
.. admonition:: Reference
   :class: refbox

   :Mode:      All modes
   :Menu:      :menuselection:`Marker --> Duplicate Marker`
   :Hotkey:    :kbd:`LMB`
               :kbd:`LMB`
*/
.rst-content .refbox .admonition-title {background-color: #bbb}
.rst-content .refbox {
	-webkit-font-smoothing: antialiased;
	background-color: #e3e3e3;
	line-height: 24px;
	margin-bottom: 24px; padding: 12px;
}
/*
.rst-content .seealso .admonition-title {background-color: #7a87e6}
.rst-content .seealso {background-color: #e7ebfa}
.rst-content .important .admonition-title {background-color: #ddca3b}
.rst-content .important {background-color: #f6f3a5}
*/

/* refbox =, seealso ( > ), note ( i ), tip i , hint (+), warn / ! \ */
.refbox .admonition-title::before {content:"\f00b\0020"}
/*
.seealso .admonition-title::before{content:"\f138"}
.note .admonition-title::before{content:"\f05a"}
.tip .admonition-title::before{content:"\f129"; width: 0.75em; text-align: center}
.hint .admonition-title::before{content:"\f055"}
.warning .admonition-title::before{content:"\f071"}
*/

/* 'refbox' field. 
.refbox .field-list .field-name, .refbox .field-list .field-body {
	padding: 0px;
}
.refbox .field-name {font-weight: normal}*/

/* Ugly 'red' literals. 
.rst-content tt.literal, .rst-content tt.literal, .rst-content code.literal {
	color:#404040;
}*/

/* Literal blocks that use too much padding, make them look like regular literals. 
.rst-content pre.literal-block {
	font-size: 75%;
	margin:0;
	padding:2px 4px;
	color:#404040;
	background: #ffffff;
	white-space: normal;
	display: inline;
}*/

/* Without this, paragraphs in bullet points within definition lists have too much vertical padding. 
.rst-content li > p {
	margin-bottom: 0px !important;
}*/
